@import "./_vars";

.@{Z}-transition{
    transition: all .5s ease
}

.@{Z}-placeholder {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 20;
    .zmodal-transition
}

.@{Z}-placeholder-close {
    cursor: pointer;
}

.@{Z}-hidden {
    display: none;
}

.@{Z}-fadein {
    opacity: 1
}

.@{Z}-slideTop {

}

.@{Z}-slideBottom {

}

.@{Z} {
    position: absolute;
    z-index: 21;
    width: 400px;
    height: 400px;
    background: #fff;
}